body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#tomato-color{
    font-size: 40px;
    color: rgb(225, 83, 83) ;
}
.first-sec-div{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
   
}
#down{
    padding-top: 40px;
}
#left{
    padding-left: 40px;
}
.first-sec-div img{
    width: 100%;
}
.top-banner{
    background-image: url(header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 700px;
    padding-bottom: 100px;
    padding-top: 50px;
}
.link-button{
    text-decoration: none;
    font-weight: 750;
    background-image: linear-gradient(180deg, orange, tomato, red);
    padding: 10px 20px;
    border-radius: 7px;
    color: white;

}
.middle-banner{
    background-image: url(biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.center{
    text-align: center;
}
#onno{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p-pic{
    width: 25%;
    float: left;
    padding-left: 7px;
    margin-left: 5%;
}
.p-pic img{
    width: 80%;
    
}
.center p{
    font-size: 20px;
}
.center h4{
    font-size: 30px;
}

footer p{
    text-align: center;
    border: 30px 20px;
    padding-top: 150px;
}
.last-1work{
    text-align: center;
    padding: 40px 30px;
    width: 500px;
    background-image: linear-gradient(200deg, yellow, blue);
    margin-left: 450px;
}
.center last-1work p{
    font: 25px;
}
#big{
    font: 800;
    font-size: 40px;
}
.field{
    margin-top: 600px;
}
.bat{
    transition: transform 0.6s ease-in;
}
.bat:hover{
    transform: rotate(-70deg);
    transform-origin: 110% 0%;
}
.boll{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 342px;
    transition: transform 1s ease-in .6s;
}

.field:hover .boll{
    transform: translate(500px, -440px);
}